body {
    margin: 0;
    padding: 0;
    background: url("images/space.jpg");
    /* perspective: 800px; */
    overflow: hidden;
}

.world {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 90vh;
    height: 90vh;
    border-radius: 50%;
    background: url("images/globe.jpg");
    background-size: cover;
    box-shadow: inset 0 0 20px #000, inset -40px -10px 20px rgb(3,32,56,0.7) ;
    transition: all 1s ease-in-out;

}

.punto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%) scale(0.25);
    transition: all 1s ease-in;
    opacity: 0;
}
main {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    transition-duration: 1s;
    transform: translateX(-100%);
}

.show {
    position: fixed;
    width: 50px;
    height: 10%;
    left: 21vw;
    border: 0px;
    background-color: #00000000;
    transition: 1s;
    z-index: 1;
}

.show img {
    transition: 0.5s;
    width: 100%;
}

.show:hover {
    opacity: 0.5;
    cursor: pointer;
}

.bar {
    /* float: left; */
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    overflow: scroll;
    border-right: 3px solid gray ;
 
    transition-duration: 1s;
}


.title {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title:hover {
    cursor:default;
}

.pais {
    border: 1px solid gray;
    border: 0cap;
}

.pais:hover {
    cursor: pointer;
}

.pais div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
}

.pais img {
    border: 1px solid black;
    float: right;
    width: 20%;
    margin-left: 5%;
}

.content {
    top: 2%;
    bottom: 2%;
    left: 2%;
    float: left;
    position: absolute;
    background-color: white;
    border: 3px solid gray;
    padding: 2%;
    width: 30vw;
    height: 95vh;
    transform: translateX(-102%);
    transition: 2s ease-in-out;
    opacity: 0;
}
